<fieldset class="effects">
  <legend class="effects__legend">{{ legend() }}</legend>

  <label class="effect effect--none" [attr.data-selected]="selected() === null">
    <input
      class="effect__radio"
      type="radio"
      [name]="groupName"
      [value]="noEffect"
      [checked]="selected() === null"
      (change)="chosen.emit(null)"
    />
    <span class="effect__identity">
      <span class="effect__name">{{ noneLabel() }}</span>
      <span class="effect__note">{{ noneDescription() }}</span>
    </span>
  </label>

  @for (effect of effects(); track effect.fdname) {
    <label class="effect" [attr.data-selected]="selected() === effect.fdname">
      <input
        class="effect__radio"
        type="radio"
        [name]="groupName"
        [value]="effect.fdname"
        [checked]="selected() === effect.fdname"
        [attr.aria-label]="nameFor(effect)"
        (change)="chosen.emit(effect.fdname)"
      />
      <span class="effect__identity">
        <edsb-game-text
          class="effect__name"
          [text]="effect.name.text"
          [language]="effect.name.language"
          [translationState]="effect.name.translationState"
        />
        <edsb-game-text
          class="effect__description"
          [text]="effect.description.text"
          [language]="effect.description.language"
          [translationState]="effect.description.translationState"
        />
        @if (effect.applied) {
          <span class="effect__applied">{{ appliedLabel() }}</span>
        }
      </span>
    </label>
  }
</fieldset>
